In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.read_csv('./data/cricketData.csv')

In [5]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [6]:
df.isnull().sum()

Unnamed: 0             0
match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [7]:
df.shape

(63888, 9)

In [8]:
df['batting_team'].unique()

array(['Australia', 'Bangladesh', 'New Zealand', 'South Africa',
       'England', 'West Indies', 'India', 'Pakistan', 'Afghanistan',
       'Sri Lanka'], dtype=object)

In [9]:
df['venue'].unique()

array(['Melbourne Cricket Ground', 'Simonds Stadium, South Geelong',
       'Adelaide Oval', 'McLean Park', 'Bay Oval', 'Eden Park',
       'The Rose Bowl', 'County Ground', 'Sophia Gardens',
       'Riverside Ground', 'Green Park',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'M Chinnaswamy Stadium',
       'Central Broward Regional Park Stadium Turf Ground',
       'Dubai International Cricket Stadium', 'Sheikh Zayed Stadium',
       'Sydney Cricket Ground', 'Bellerive Oval', 'Westpac Stadium',
       'Seddon Park', 'Mangaung Oval', 'Senwes Park',
       'Kensington Oval, Bridgetown', "Queen's Park Oval, Port of Spain",
       'R Premadasa Stadium', 'Warner Park, Basseterre',
       'Sabina Park, Kingston', 'R.Premadasa Stadium, Khettarama',
       'Saxton Oval', 'JSCA International Stadium Complex', 'Edgbaston',
       'Old Trafford', 'Arun Jaitley Stadium',
       'Saurashtra Cricket Association Stadium',
       'Greenfield International Stadium', 'Gaddafi Stadium',
       'The Wanderers Stadium', 'SuperSport Park', 'Newlands',
       'Barabati Stadium', 'Holkar Cricket Stadium', 'Wankhede Stadium',
       'Shere Bangla National Stadium, Mirpur',
       'Sylhet International Cricket Stadium', 'National Stadium',
       'Harare Sports Club', 'Carrara Oval',
       'Brisbane Cricket Ground, Woolloongabba',
       'Rajiv Gandhi International Cricket Stadium', 'Eden Gardens',
       'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium',
       'MA Chidambaram Stadium, Chepauk',
       'Darren Sammy National Cricket Stadium, St Lucia',
       'Warner Park, St Kitts',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'M.Chinnaswamy Stadium', 'Manuka Oval', 'Perth Stadium',
       'Buffalo Park', 'Kingsmead', "St George's Park",
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal', 'Hagley Oval',
       'Providence Stadium, Guyana',
       'Pallekele International Cricket Stadium',
       'Zahur Ahmed Chowdhury Stadium',
       'Maharashtra Cricket Association Stadium', 'Boland Park',
       'New Wanderers Stadium', 'Kennington Oval',
       'Western Australia Cricket Association Ground',
       'Brabourne Stadium', 'Jade Stadium', 'Gymkhana Club Ground',
       'Trent Bridge', "Lord's", 'Maple Leaf North-West Ground',
       'AMI Stadium', 'Providence Stadium',
       'Beausejour Stadium, Gros Islet',
       'Punjab Cricket Association Stadium, Mohali',
       'Sir Vivian Richards Stadium, North Sound',
       'Moses Mabhida Stadium', 'Stadium Australia',
       'Shere Bangla National Stadium',
       'Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa',
       'Subrata Roy Sahara Stadium', 'Sardar Patel Stadium, Motera',
       'Arnos Vale Ground, Kingstown', 'Sharjah Cricket Stadium',
       'Windsor Park, Roseau',
       'Himachal Pradesh Cricket Association Stadium', 'Feroz Shah Kotla'],
      dtype=object)

In [10]:
df['venue'].nunique()

94

In [11]:
df['venue'].value_counts()

venue
Shere Bangla National Stadium          3420
R Premadasa Stadium                    2983
Dubai International Cricket Stadium    2969
New Wanderers Stadium                  2819
Eden Park                              2532
                                       ...
Senwes Park                             122
Sardar Patel Stadium, Motera            121
Hagley Oval                             121
Subrata Roy Sahara Stadium              121
Carrara Oval                             64
Name: count, Length: 94, dtype: int64

In [12]:
df['city'].nunique()

81

In [13]:
eligible_venue = df['venue'].value_counts()[df['venue'].value_counts() > 480].index.tolist()

In [14]:
eligible_venue

['Shere Bangla National Stadium',
 'R Premadasa Stadium',
 'Dubai International Cricket Stadium',
 'New Wanderers Stadium',
 'Eden Park',
 'Newlands',
 'Pallekele International Cricket Stadium',
 'Kensington Oval, Bridgetown',
 'Melbourne Cricket Ground',
 'Beausejour Stadium, Gros Islet',
 'Kennington Oval',
 'Kingsmead',
 'Westpac Stadium',
 'Central Broward Regional Park Stadium Turf Ground',
 'Seddon Park',
 'SuperSport Park',
 'Old Trafford',
 'Zahur Ahmed Chowdhury Stadium',
 'R.Premadasa Stadium, Khettarama',
 'Sheikh Zayed Stadium',
 'Sydney Cricket Ground',
 'Trent Bridge',
 'The Rose Bowl',
 'Bay Oval',
 'Wankhede Stadium',
 'Eden Gardens',
 'Gaddafi Stadium',
 'Vidarbha Cricket Association Stadium, Jamtha',
 "Lord's",
 'Adelaide Oval',
 'M Chinnaswamy Stadium',
 'Warner Park, Basseterre',
 'Sophia Gardens',
 "Queen's Park Oval, Port of Spain",
 'Brisbane Cricket Ground, Woolloongabba',
 'Edgbaston',
 'Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa',
 'Shere Bangla National Stadium, Mirpur',
 'The Wanderers Stadium',
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium',
 'Feroz Shah Kotla',
 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'County Ground',
 'National Stadium',
 'Stadium Australia']

In [15]:
len(eligible_venue)

45

In [16]:
df = df[df['venue'].isin(eligible_venue)]

In [17]:
df.shape

(53469, 9)

In [18]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [19]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground,0
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground,0
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground,1
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground,3
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground,3

In [20]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128

In [21]:
df['ball_no'] = df['ball'].apply(lambda x:str(x).split('.')[1])
df['over'] = df['ball'].apply(lambda x:str(x).split('.')[0])
df['ball_bowled'] = (df['over'].astype(int)*6 + df['ball_no'].astype(int))
df['ball_left'] = 120 - df['ball_bowled']

In [22]:
df['ball_left'] = df['ball_left'].apply(lambda x:0 if x<0 else x)

In [23]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_bowled,ball_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,3,19,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,4,19,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,5,19,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,6,19,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,7,19,121,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53469 entries, 0 to 63887
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        53469 non-null  int64
 1   match_id          53469 non-null  int64
 2   batting_team      53469 non-null  object
 3   bowling_team      53469 non-null  object
 4   ball              53469 non-null  float64
 5   runs              53469 non-null  int64
 6   player_dismissed  53469 non-null  object
 7   city              45734 non-null  object
 8   venue             53469 non-null  object
 9   current_score     53469 non-null  int64
 10  ball_no           53469 non-null  object
 11  over              53469 non-null  object
 12  ball_bowled       53469 non-null  int64
 13  ball_left         53469 non-null  int64
dtypes: float64(1), int64(6), object(7)
memory usage: 6.1+ MB

In [25]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:1 if x!='0' else '0')

In [26]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_bowled,ball_left
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground,0,1,0,1,119
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground,0,2,0,2,118
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground,1,3,0,3,117
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground,3,4,0,4,116
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground,3,5,0,5,115

In [27]:
df.shape

(53469, 14)

In [28]:
df['player_dismissed'] = df['player_dismissed'].astype(int)
df['cumulative_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
df['wicket_left'] = 10 - df['player_dismissed']

In [29]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_bowled,ball_left,cumulative_dismissed,wicket_left
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground,0,1,0,1,119,0,10
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground,0,2,0,2,118,0,10
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground,1,3,0,3,117,0,10
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground,3,4,0,4,116,0,10
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground,3,5,0,5,115,0,10

In [30]:
df['current_run_rate'] = (df['current_score']*6)/df['ball_bowled']

In [31]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_bowled,ball_left,cumulative_dismissed,wicket_left,current_run_rate
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,3,19,117,3,8,10,6.410256
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,4,19,118,2,8,10,6.355932
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,125,5,19,119,1,9,9,6.302521
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,6,19,120,0,9,10,6.350000
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,7,19,121,0,9,10,6.347107

In [32]:
# group by 'match id'
groups = df.groupby('match_id')

# 5 over = 30 balls
match_id = df['match_id'].unique()
last_five = []

for id in match_id:
    # Apply rolling sum on the 'runs' column
    rolling_sums = groups.get_group(id)['runs'].rolling(window=30).sum()
    last_five.extend(rolling_sums.values.tolist())

In [33]:
df['last_five'] = last_five

In [34]:
df['last_five']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
63883    32.0
63884    32.0
63885    32.0
63886    33.0
63887    32.0
Name: last_five, Length: 53469, dtype: float64

In [35]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_bowled,ball_left,cumulative_dismissed,wicket_left,current_run_rate,last_five
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground,0,1,0,1,119,0,10,0.0,NaN
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground,0,2,0,2,118,0,10,0.0,NaN
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground,1,3,0,3,117,0,10,2.0,NaN
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground,3,4,0,4,116,0,10,4.5,NaN
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground,3,5,0,5,115,0,10,3.6,NaN

In [36]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [37]:
final_df.head()

,match_id,runs_x,Unnamed: 0,batting_team,bowling_team,ball,runs_y,player_dismissed,city,venue,current_score,ball_no,over,ball_bowled,ball_left,cumulative_dismissed,wicket_left,current_run_rate,last_five
0,2,168,0,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground,0,1,0,1,119,0,10,0.0,NaN
1,2,168,1,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground,0,2,0,2,118,0,10,0.0,NaN
2,2,168,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground,1,3,0,3,117,0,10,2.0,NaN
3,2,168,3,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground,3,4,0,4,116,0,10,4.5,NaN
4,2,168,4,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground,3,5,0,5,115,0,10,3.6,NaN

In [38]:
df['batting_team'].nunique()

10

In [39]:
final_df.columns

Index(['match_id', 'runs_x', 'Unnamed: 0', 'batting_team', 'bowling_team',
       'ball', 'runs_y', 'player_dismissed', 'city', 'venue', 'current_score',
       'ball_no', 'over', 'ball_bowled', 'ball_left', 'cumulative_dismissed',
       'wicket_left', 'current_run_rate', 'last_five'],
      dtype='object')

In [40]:
final_df = final_df[['batting_team', 'bowling_team', 'venue', 'current_score', 'ball_left', 'wicket_left', 'current_run_rate', 'last_five', 'runs_x']]

In [41]:
final_df.isnull().sum()

batting_team            0
bowling_team            0
venue                   0
current_score           0
ball_left               0
wicket_left             0
current_run_rate        0
last_five           12749
runs_x                  0
dtype: int64

In [42]:
final_df.dropna(inplace=True)

In [43]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
venue               0
current_score       0
ball_left           0
wicket_left         0
current_run_rate    0
last_five           0
runs_x              0
dtype: int64

In [44]:
final_df.shape

(40720, 9)

In [45]:
final_df = final_df.sample(final_df.shape[0])

In [46]:
x = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [49]:
x_train

,batting_team,bowling_team,venue,current_score,ball_left,wicket_left,current_run_rate,last_five
39264,West Indies,Bangladesh,Shere Bangla National Stadium,141,19,10,8.376238,45.0
26256,Australia,Pakistan,"Beausejour Stadium, Gros Islet",85,63,10,8.947368,45.0
26052,Pakistan,Bangladesh,"Beausejour Stadium, Gros Islet",145,22,10,8.877551,52.0
47627,South Africa,Australia,Newlands,123,30,10,8.200000,36.0
26531,Australia,Bangladesh,"Kensington Oval, Bridgetown",80,33,10,5.517241,28.0
...,...,...,...,...,...,...,...,...
30353,Pakistan,New Zealand,Eden Park,101,24,10,6.312500,25.0
34715,New Zealand,England,Pallekele International Cricket Stadium,80,37,10,5.783133,26.0
28163,Sri Lanka,England,"Beausejour Stadium, Gros Islet",96,17,10,5.592233,23.0
23223,South Africa,West Indies,Kennington Oval,138,30,10,9.200000,52.0
10361,India,West Indies,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,79,65,10,8.618182,47.0

In [50]:
# import machine learnign algorithm
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBRegressor

In [51]:
lr = LinearRegression()
dt = DecisionTreeClassifier(max_depth=5)
rf = RandomForestClassifier(n_estimators=50,random_state=2,max_depth=5)
xr = XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1)

In [52]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [53]:
transformer = ColumnTransformer([
    ('transformer', OneHotEncoder(drop='first', sparse_output=False), ['batting_team', 'bowling_team', 'venue'])
], remainder='passthrough')

In [54]:
pipe = Pipeline(steps=[
    ('step1', transformer),
    ('step2', StandardScaler(with_mean=False)),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))
])

In [55]:
pipe.fit(x_train,y_train)

d:\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('transformer',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team',
                                                   'venue'])])),
                ('step2', StandardScaler(with_mean=False)),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample...
                              feature_types=None, feature_weights=None,
                              gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.2,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=1000, n_jobs=None,
                              num_parallel_tree=None, ...))])

In [ ]:
y_pred = pipe.predict(x_test)

In [57]:
r2_score(y_test, y_pred)

0.9798943400382996

In [58]:
mean_absolute_error(y_test, y_pred)

2.023343563079834

In [59]:
import pickle

In [61]:
pickle.dump(pipe,open('model.pkl','wb'))